.home {
  display: flex;

  .homeContainer {
    flex: 6;
    .item {
      display: flex;
      gap: 20px;

      .itemImg {
        width: 1000px;
        height: 1000px;
        border-radius: 50%;
        object-fit: center;
      }
    }
  }
}
